.banner {
  width: 100%;
  padding: 0rem;
  font-family: "poppins", sans-serif;

  .banner_box {
    padding-top: 6rem;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2rem;

    .banner_logo {
      width: 209.96px;
      min-height: 48px;
      margin: 30px auto;
      display: flex;
      justify-content: center;
      flex-direction: row;

      img {
        width: 150%;
        margin-block: -110px;
      }
    }

    .banner_heading {
      width: 100%;
      margin: 0rem auto 3rem auto;
      padding: 0 1rem;

      h5 {
        color: #ffffff;
        text-align: center;
        font-family: "poppins", sans-serif;
        font-size: 5rem;
        font-style: normal;
        margin: 0px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: -3.6px;
      }
    }

    .text {
      display: block;
      text-align: center;
      margin-bottom: 1rem;

      p {
        font-weight: 200;
        font-size: 1rem;
        color: #fff;
      }

      .paragraph {
        color: #62ab78;
      }

      a {
        font-size: 16px;
        text-decoration: underline;
        color: #62ab78;
      }
    }

    .input_box {
      max-width: 350px;
      height: 48px;
      margin: 0 auto;
      border-radius: 100px;
      position: absolute;
      left: 35%;

      input {
        color: #fff;
        width: 100%;
        height: 30px;
        padding: 10px 30px;
        border: none;
        background-color: #ffffff1a;
        outline: none;
        font-size: 1rem;

        border-radius: 40px;
        padding-right: 100px;
        &::placeholder {
          padding: 0.5rem 0px;
          font-size: 1rem;
        }
      }

      .Banner_btn {
        padding: 1.5rem 0rem;
        font-size: 1rem;
        border-radius: 26px;
        border: none;
        width: 8rem;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-tap-highlight-color: transparent;
        appearance: none;
        outline: none;
        border: none;
        background: linear-gradient(105.23deg, #01a4ff 33.35%, #01ffc2 115.77%);
        position: relative;
        color: #000000;
        position: absolute;
        left: 330px;
        right: 1px;
        top: 1px;
        &:hover {
          background: white;
          cursor: pointer;
        }
      }
      p {
        font-size: 14px;
        padding: 12px;
      }
    }
  }

  &.banner_mobile {
    .banner_box {
      padding-top: 5.4rem;
      width: 100%;
      padding-bottom: 0rem;

      .input_box {
        max-width: 300px;

        input {
          text-align: center;
          padding-right: 0;
          margin: 1.3rem;
        }
      }

      .banner_heading {
        width: 100%;
        padding: 0px;

        h5 {
          font-size: 3.5rem;
          line-height: 100%; /* 48px */
          letter-spacing: -2.4px;
          font-weight: 500;
        }
      }
      .text {
        p {
          margin-top: -1rem;
        }
      }

      .input_box {
        width: 330px;

        padding: 0%;
        left: 0%;

        .Banner_btn {
          width: 330px;
          position: unset;
          margin: -1rem 0rem 2rem 1.3rem;
          text-align: center;
          font-family: system-ui;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
    }
  }
}

.drop-in {
  animation: drop-in 0.8.7s ease 50ms backwards;
}

.drop-in-2 {
  animation: drop-in 50ms ease 50ms backwards;
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.drop-up {
  animation: drop-up 0.9s ease 300ms backwards;
}
.drop-up-2 {
  animation: drop-up 200ms ease 500ms backwards;
}
@keyframes drop-up {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.beta-up {
  animation: beta-up 0.9.5s ease 500ms backwards;
}
.beta-up-2 {
  animation: beta-up 400ms ease 700ms backwards;
}
@keyframes beta-up {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.input-up {
  animation: beta-up 0.9.7s ease 700ms backwards;
}
.input-up-2 {
  animation: beta-up 600ms ease 900ms backwards;
}
@keyframes input-up {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.text-up {
  animation: beta-up 0.9.9s ease 900ms backwards;
}
.text-up-2 {
  animation: beta-up 800ms ease 1100ms backwards;
}
@keyframes text-up {
  from {
    opacity: 0;
    transform: translateY(14px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
