.card_three {
  width: 40%;
  min-height: 120px;
  padding: 0.5rem;
  border-radius: 10px;
  background: linear-gradient(
    162deg,
    rgba(255, 255, 255, 0.16) 0%,
    rgba(255, 255, 255, 0.08) 100%
  );
  border: 1px solid #586742;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(0px);
  opacity: 0.8;

  .card_three_box {
    width: 100%;
    height: 100%;

    .card_three_header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .card_three_left {
        img {
          width: 32px;
          height: 32px;
        }
      }
      .card_three_left {
        display: flex;
        align-items: center;

        h6 {
          color: #99baa9;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.8px;
        }
      }

      .select_box {
        width: 70px;
        height: 20px;
        border-radius: 100px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          color: #2c6949;
          font-size: 0.5rem;
        }
      }
    }

    .img_box {
      width: 100%;
      height: 130px;
      display: flex;
      align-items: center;
      margin-top: -25px;
      justify-content: center;
      opacity: 0;
      transition: opacity 3s ease-in-out;
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        position: relative;
      }
    }
    .fade-in {
      opacity: 1;
    }

    .card_three_content {
      position: absolute;
      bottom: -20px;
      color: yellow;
      z-index: 1;

      h6 {
        color: #99baa9;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        opacity: 0.8;
        line-height: normal;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .card_three {
    width: 90%;
    margin: 1.3rem -1.8rem;
    height: unset;

    .card_three_box {
      .img_box {
        width: 100%;
        img {
          object-fit: unset;
        }
      }
    }
  }
}
