.card {
  max-width: 1208px;
  min-height: 684px;
  margin: 4rem auto;
  padding: 0.5rem;
  border-radius: 10px;
  background: url("../images/maincard.svg");
  background-color: #180030;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(0px);
  position: relative;
  mix-blend-mode: overlay;
  opacity: 0.9;

  .cards_box {
    width: 100%;
    margin: 0;

    .card_inside {
      width: 78.5%;
      margin-top: 8rem;
      margin-left: 7rem;
      margin-bottom: 0rem;

      .text_heading {
        margin-top: 1rem;
        margin-bottom: 0rem;
        h4 {
          color: white;
          font-family: "poppins", sans-serif;
          font-size: 2rem;
          font-style: normal;
          font-weight: 400;
          opacity: 0.5;
          line-height: normal;
          letter-spacing: -1.6px;
          padding: 0rem;
        }
      }
      .cards {
        margin-top: -2rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .card {
    .cards_box {
      .card_inside {
        width: 940px;
        // margin-left:1%;
        margin: 0 -2rem;
        margin-top: 14rem;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .card {
    display: none;
  }
}

.card-wrapper {
  perspective: 1200px;
}
.card-new {
  transform-style: preserve-3d;
  transform: rotateX(20deg);
}
